<html>
<head>
<meta charset="utf-8">
<title>Epic Wins</title>
<link rel="stylesheet" type="text/css" href="/stylesheets/EpicWins.css" />
</head>
<html>

<body>
  
</div>
  <div class="header">
    <div class="container">
      <ul class="nav">
           <div class="dropdown">
  <button onclick="myFunction()" class="dropbtn"> <a href="/">Epic Wins</a></button>
  <button class="dropbtn"> <a href="/product">Products</a></button>
  <button onclick="myFunction()" class="dropbtn">Sign Up</button>
  <button onclick="myFunction()" class="dropbtn">Contact</button>
            
  </div>
      </ul>
    </div>
  </div>

</div>
  <div class="jumbotron">
    <div class="container">
      <div class="main">
        <h1></h1>
        <a href="/product" class="btn-main"> Featured Deals </a>
        <h1></h1>
        <h1> 50% OFF </h1>
          <h1> SUMMER SALE ENDS TODAY </h1>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<a href="#" class="fa fa-facebook"></a>
<a href="https://twitter.com/EpicwinsO" class="fa fa-twitter"></a>
<a href="https://www.instagram.com/epicwins_offical/" class="fa fa-instagram"></a>
      </div>
    </div>
  </div>

  <div class="supporting">
    <div class="container">
      <div class="col">
        <img src="https://garagegympower.com/wp-content/uploads/2018/01/workout-shoes-close-up.jpg">
        <h2>Shop by Brand</h2>
        <p>APPAREL AND FOOTWEAR</p>
        <a href="/product" class="btn-default">Go</a>
        
      </div>
      <div class="col">
        <img src="https://sports-isao.org/site/wp-content/uploads/2016/10/1442948352391.jpg">
        <h2>Shop by Sport</h2>
        <p> EVERYTHING YOU WANT </p>
        <a href="/product" class="btn-default">Go</a>
      </div>
      <div class="col">
        <img src="https://i2.nicepik.com/files/57/686/481/fire-bbq-barb-barbecue.jpg">
        <h2>Tailgate</h2>
        <p>ROOTING FOR YOUR TEAM</p>
        <a href="/product" class="btn-default">Go</a>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>

  <div class="footer">
    <div class="container">
      <p>&copy; EpicWins 2019-2020</p>
    </div>
  </div>
  
</body>

</html>