<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>

</head>

<body>

  <% include ../partials/nav.ejs %>

  <script src="/public/myscripts.js"></script>


<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
<div id="wrapper">
<div class="cart-icon-top">
</div>

<div class="cart-icon-bottom">
</div>

<div id="checkout">
CHECKOUT
</div>

<div id="info">
<p class="i1">Add to cart</p>
<p> Follow me on
<a href="https://facebook.com/" style="color:#2aa9e0" target="_blank">Facebook</a> |
<a style="color:#2aa9e0" href="https://twitter.com/" target="_blank">Twitter</a> |
<a href="https://instagram.com/" style="color:#2aa9e0"target="_blank">Instagram</a>
</p>

</div>

<div id="header">
<ul>
<li><a href="">EPIC WINS</a></li>
<li><a href="">BRANDS</a></li>
<li><a href="">DESIGNERS</a></li>
<li><a href="">CONTACT</a></li>
</ul>
</div>

<div id="sidebar">
<h3>CART</h3>
<div id="cart">
<span class="empty">No items in cart.</span>
</div>

<h3></h3>
<div class="checklist categories">
<ul>
</ul>
  
</div>
<h3></h3>
</div>

<div id="grid-selector">
<div id="grid-menu">
View:
<ul>
<li class="largeGrid"><a href=""></a></li>
<li class="smallGrid"><a class="active" href=""></a></li>
</ul>
</div>



<div class="product">

<div class="make3D">
<div class="product-front">
<div class="shadow"></div>
<img src="https://live.staticflickr.com/8659/16173880801_6ce4e19ccf_b.jpg" alt="" />

<div class="image_overlay"></div>
<div class="add_to_cart">Add to cart</div>
<div class="view_gallery">View gallery</div>
<div class="stats">
<div class="stats-container">
<span class="product_price">$20</span>
<span class="product_name">Baseball</span>
<p>Play On</p>
<div class="product-options">
<strong>SIZES</strong>
<span>One Size</span>
<strong>COLORS</strong>
<div class="colors">
<div class="c-blue"><span></span></div>

<div class="c-red"><span></span></div>
<div class="c-white"><span></span></div>
<div class="c-green"><span></span></div>
</div>
</div>
</div>
</div>
</div>

<div class="product-back">
<div class="shadow"></div>
<div class="carousel">
<ul class="carousel-container">

<li><img src="https://live.staticflickr.com/8659/16173880801_6ce4e19ccf_b.jpg" alt="" /></li>
<li><img src="https://live.staticflickr.com/8659/16173880801_6ce4e19ccf_b.jpg" alt="" /></li>
<li><img src="https://live.staticflickr.com/8659/16173880801_6ce4e19ccf_b.jpg" alt="" /></li>
</ul>
<div class="arrows-perspective">
<div class="carouselPrev">
<div class="y"></div>
<div class="x"></div>
</div>
<div class="carouselNext">
<div class="y"></div>
<div class="x"></div>
</div>
</div>
</div>
<div class="flip-back">
<div class="cy"></div>
<div class="cx"></div>
</div>
</div>
</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="menu.js"></script>
</body>
</html>
