<html>
  <!-- Home Page-->
<head>

<meta charset="utf-8">
<title>Epic Wins</title>
<link rel="stylesheet" type="text/css" href="/stylesheets/EpicWins.css" />

</head>

<body>
    <!-- Header -->

  <% include ../partials/nav.ejs %>

<div class="jumbotron">
  <div class="container">
    <div class="main">
      <!-- Button directs you to product page --> 
      <a href="/product" class="button-main"> EVERYTHING YOU WANT </a>
      <h1></h1>
      <h1> 50% OFF </h1>
      <h1> SALE ENDS TODAY </h1>
      <h2> HURRY AND SHOP NOW!!!</h2>
      <h2> FREE SHIPPING ON YOUR FIRST ORDER</h2>

  <!-- Social Media --> 

<<<<<<< HEAD
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
  
  <div id="wrapper">
  <div class="cart-icon-top">
  </div> 
  
  <div class="cart-icon-bottom">
  </div>
  
  <div id="checkout">
    CHECKOUT
  </div>
  
  <div id="info">
  <p> Follow me on 
<a href="https://facebook.com/" style="color:#2aa9e0"           target="_blank">Facebook</a> | 
<a style="color:#2aa9e0" href="https://twitter.com/"
target="_blank">Twitter</a> | 
<a href="https://instagram.com/" style="color:#2aa9e0"target="_blank">Instagram</a>
  </p>
  </div>
  
 <div id="header">	
    <ul>
      <li><a href="">EPIC WINS</a></li>
      <li><a href="">BRANDS</a></li>
      <li><a href="">DESIGNERS</a></li>
      <li><a href="">CONTACT</a></li>                                             
      </ul>		
  </div>
  
<div id="sidebar">
<h3>CART</h3>
<div id="cart">
<span class="empty">No items in cart.</span>       
</div>
    
<h3></h3>
<div class="checklist categories">
</div>
    <div class="checklist colors">       
    </div>
    <div class="checklist sizes">     
=======
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<a href="https://www.facebook.com/wins.sporting.5" class="fa fa-facebook"></a>
<a href="https://twitter.com/EpicwinsO" class="fa fa-twitter"></a>
<a href="https://www.instagram.com/epicwins_offical/" class="fa fa-instagram"></a>
      </div>
>>>>>>> 825f71752a53ffe5cfe4fd3be0c6cc1a3e62d289
    </div>
  </div>

  <!-- More options to go to product page -->
  <div class="supporting">
    <div class="container">
      <div class="col">
        <img src="https://garagegympower.com/wp-content/uploads/2018/01/workout-shoes-close-up.jpg">
        <h2> THE BEST BRANDS</h2>
        <p>APPAREL AND FOOTWEAR</p>
        <a href="/product" class="button-default">Go</a>
        
      </div>
      <div class="col">
          <img src="https://i2.nicepik.com/files/57/686/481/fire-bbq-barb-barbecue.jpg">
        <h2>THE BEST TEAMS</h2>
        <p> LOWER PRICES </p>
        <a href="/product" class="button-default">Go</a>
      </div>
      <div class="col">
          <img src="https://sports-isao.org/site/wp-content/uploads/2016/10/1442948352391.jpg">
        <h2>THE BEST SPORTS</h2>
        <p>ALWAYS ROOTING FOR YOU</p>
        <a href="/product" class="button-default">Go</a>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>

  <!-- footer -->

  <div class="footer">
    <div class="container">
      <p style="text-align: center;">&copy; EpicWins 2019-2020</p>
    </div>
  </div>
  
</body>

</html>

<!-- Main Page Credit:  
Credits to: w3schools.com 
-->