<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

  <div class="header">
    <div class="container">
    <ul class="nav">
    <li>Epic Wins </li>
    <li>Shop Departments</li>
    <li>New Release</li>
    <li>Contact Us</li>
    </ul>
    </div>
    </div>
    
    <div class="jumbotron">
    <div class="container">
    <div class="main">
    <h1></h1>
    <a href="#" class="btn-main"> Featured Deals </a>
    <h1></h1>
    <h1> 50% OFF </h1>
    <h1> SUMMER SALE ENDS TODAY </h1>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <a href="#" class="fa fa-facebook"></a>
    <a href="#" class="fa fa-twitter"></a>
    <a href="#" class="fa fa-instagram"></a>
    </div>
    </div>
    </div>
    
    <div class="supporting">
    <div class="container">
    <div class="col">
    <img src="https://garagegympower.com/wp-content/uploads/2018/01/workout-shoes-close-up.jpg">
    <h2>Shop by Brand</h2>
    <p>APPAREL AND FOOTWEAR</p>
    <a href="#" class="btn-default">Go</a>
    
    </div>
    <div class="col">
    <img src="https://sports-isao.org/site/wp-content/uploads/2016/10/1442948352391.jpg">
    <h2>Shop by Sport</h2>
    <p> FIND EVERYTHING YOU WANT </p>
    <a href="#" class="btn-default">Go</a>
    </div>
    <div class="col">
    <img src="https://i2.nicepik.com/files/57/686/481/fire-bbq-barb-barbecue.jpg">
    <h2>Tailgate</h2>
    <p>ROOTING YOUR TEAM</p>
    <a href="#" class="btn-default">Go</a>
    </div>
    </div>
    <div class="clearfix"></div>
    </div>
    
    <div class="footer">
    <div class="container">
    <p>&copy; EpicWins 2019-2020</p>
    </div>
    </div>
    
    </body>
    
    </html>
    